/* CSS declarations go here */
#login-dropdown-list .dropdown-menu {
	left: auto;
	right:0;
}

body {
	padding-top:60px;
}

#left-nav .nav > li > a {
	padding: 8px 12px;
	font-size: 14px;
}

#left-nav {
	margin-top: 10px;
}